@font-face {
	font-family: 'NotoSans-Regular'; 
	src: url(fonts/NotoSans-Regular.ttf); 
}
h1{
    font-size: 7vmin;
}
h1,h2,h3,p{
    font-family: 'NotoSans-Regular';
    color: #182F5A;
}
p{
    font-size: 2vmin;
}
h2{
    font-size: 4vmin;
}
h3{
    font-size: 3vmin;
}

#guide{
    background-image: url("Guidetothebeautiful.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10.4vmin;
    height: 90vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#blockWhite
{
    background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,0.6), rgba(255,255,255,0.4), rgba(255,255,255,0.2), rgba(255,255,255,0));
    height: 50vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20vmin;
}

#digital-department{
    margin:5vmin;
}
#digital-department > h2{
    margin-bottom: 3vmin;
}


#more {display: none;}


#buttons-university{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#buttons-university > .CardPng1,#buttons-university > .CardPng2,#buttons-university > .CardPng3, .CardPng4, #buttons-university > .CardPng4{
    height: 40vmin;
    width: 20vw;
    background-size: cover;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;
}
.CardPng1 > h1, .CardPng1 > p, .CardPng2 > h1, .CardPng2 > p, .CardPng3 > h1, .CardPng3 > p, .CardPng4 > h1, .CardPng4 > p{
    padding: 1vmin;
    z-index: 2;
    color: white;
    opacity: 0;
    transition: 2s;
}
.CardPng1 > a, .CardPng2 > a, .CardPng3 > a, .CardPng4 > a{
    width: 10vmin;
    height: 4vmin;
    margin: 1vmin;
    padding: 1vmin;
    z-index: 2;
    background: white;
    border-radius: 0.1vmin;
    border-color: white;
    color: black;
    opacity: 0;
    transition: 2s;
}
#buttons-university > .CardPng1{
    background-image: url(IIT.png);
}
#buttons-university > .CardPng2{
    background-image: url(III.png);
}
#buttons-university > .CardPng3{
    background-image: url(IPTIP.png);
}
#buttons-university > .CardPng4{
    background-image: url(IKB.png);
}
.CardPng1::before,.CardPng2::before,.CardPng3::before,.CardPng4::before{
    content: " ";
    opacity: 0;
    height: 40vmin;
    width: 20vw;
    position: absolute;
    z-index: 1;
    transition: 2s;
}
.CardPng1::before{
    background: linear-gradient(0deg,rgba(107, 107, 107, 1),rgba(107, 107, 107, 0.9),rgba(107, 107, 107, 0.8),rgba(107, 107, 107, 0.7),rgba(107, 107, 107, 0.6),rgba(107, 107, 107, 0.5));
}
.CardPng2::before{
    background: linear-gradient(0deg,rgb(0, 255, 0),rgba(0, 255, 0, 0.9),rgba(0, 255, 0, 0.8),rgba(0, 255, 0, 0.7),rgba(0, 255, 0, 0.6),rgba(0, 255, 0, 0.5));
}
.CardPng3::before{
    background: linear-gradient(0deg,rgba(255, 242, 0, 1),rgba(255, 242, 0, 0.9),rgba(255, 242, 0, 0.8),rgba(255, 242, 0, 0.7),rgba(255, 242, 0, 0.6),rgba(255, 242, 0, 0.5));
}
.CardPng4::before{
    background: linear-gradient(0deg,rgba(0, 153, 255, 1),rgba(0, 153, 255, 0.9),rgba(0, 153, 255, 0.8),rgba(0, 153, 255, 0.7),rgba(0, 153, 255, 0.6),rgba(0, 153, 255, 0.5));
}
.CardPng1:hover::before, .CardPng2:hover::before, .CardPng3:hover::before, .CardPng4:hover::before{
    opacity: 1;
}
.CardPng1 > h1, .CardPng2 > h1, .CardPng3 > h1, .CardPng4 > h1{
    font-size: 4vmin;
}
.CardPng1:hover > h1, .CardPng1:hover > p, .CardPng1:hover > a,
.CardPng2:hover > h1, .CardPng2:hover > p, .CardPng2:hover > a,
.CardPng3:hover > h1, .CardPng3:hover > p, .CardPng3:hover > a,
.CardPng4:hover > h1, .CardPng4:hover > p, .CardPng4:hover > a{
    opacity: 1;
}
#schedule{
    display: inline-block;
    justify-content: left;
    margin-left: 12vmin;
}
#schedule > p{
    padding-right: 4vmin;
    color: #686868;
}
.button {
    text-decoration: none;
    background-color: blue;
}